/* Scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: gray white;
  scrollbar-width: 0 !important;
  -ms-overflow-style: none; /* Скрытие скроллбара в IE и Edge */
  scrollbar-width: none; /* Скрытие скроллбара в Firefox */
}

::-webkit-scrollbar {
  display: none; /* Скрытие скроллбара вебкитовских браузеров (Chrome, Safari, etc.) */
}

::-webkit-scrollbar {
  width: 0.6rem;
  height: 1.2rem;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background-color: rgba(255, 255, 255, 0.462);
  /* border-radius: 0 16px 16px 0; */
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  background-color: #7f00a990;
  background-clip: content-box;
  border-radius: 16px;
  /* border: 0.2rem solid white; */
  min-width: 1rem;
  min-height: 1.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: grey;
}

::-webkit-scrollbar-thumb:active {
  background-color: grey;
}

.lg-sub-html {
  text-align: left !important;
}

.lg-react-element {
  /* visibility: hidden; */
  display: none;
}

.swiper-wrapper.auto-height {
  height: calc(100vh - 140px);
}

.rotate {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
